body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 242, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url(plano-de-fundo-para-celebracoes-de-festas-juninas-brasileiras_23-2150353874.avif);
   background-size: cover;
   text-shadow: coral;

}
input {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
    font-size: 20px;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
